body {
  margin: 0;
  padding: 0;
}
.bg-img {
  background-image: url("./assets/flag-pakistan.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.color {
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.9669117647058824) 0%,
    rgba(0, 0, 0, 0) 54%
  );
}

.heading {
  padding-top: 40rem;
}

.bottom-section {
  border: 50px solid transparent;
  border-image: url("assets/aplique.png") 60;
  border-top: none;
  border-bottom: none;
}
.about {
  padding-top: 60px;
  padding-left: 5%;
}

.about p {
  margin-top: 25px;
  font-size: 20px;
  color: gray;
}
.about h1 {
  font-size: 40px;
  font-weight: bold;
}

.about .cus_btn {
  margin-top: 20px;
  background-color: #018b28;
  border-radius: 50px;
  color: white;
  font-size: 15px;
  border: 2px solid #018b28;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  padding: 9px 36px;
  transition: all 0.6s ease;
}
.about .cus_btn:hover {
  color: #000;
  background: transparent;
  border: 2px solid #018b28;
}
.form {
  padding-top: 60px;
  padding-left: 5%;
}
.form label {
  font-weight: bold;
}
.form input {
  border-radius: 10px;
  height: 50px;
  border: 3px solid rgb(243, 243, 243);
}
.form-img {
  width: 80%;
}

.items {
  width: 90%;
  margin: 0px auto;
}

.slick-slide {
  margin: 10px;
}

.slick-slide img {
  display: block;
  width: 90%;
  justify-content: center;
  margin: auto;
  margin-top: 12px;
  border-radius: 5px;
}

.slick-next:before {
  color: black !important;
}

.slick-prev:before {
  color: black !important;
}
.Gallery {
  margin-top: 40px;
}
.Gallery h1 {
  font-weight: bold;
  margin-bottom: 40px;
}

.footer {
  background-color: black;
  height: 100%;
  padding-bottom: 5px;
}
.bottom-logo img {
  margin-top: 4px;
  width: 10%;
}

.sub-footer {
  padding-top: 20px;
  padding-left: 5%;
}
.sub-footer p {
  color: white;
}
.newsEvents {
  margin-top: 60px;
  padding-left: 5%;
}
.lefthand {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 678px) {
  .about {
    margin-left: 0px !important;
  }
  .about img {
    margin-top: 50px;
    width: 80% !important;
  }
  .bottom-logo img {
    width: 30%;
  }
  .form {
    padding-left: 1%;
  }
  iframe {
    display: flex;
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
  }
  .newsEvents {
    padding-left: 0%;
  }
}
